*{
  margin: 0px;
  padding: 0px;
}


/*Start of navigation*/
  #logo-fig{
    width: 128px;
    margin: auto;
  }
  #logo-img{
    width: 100%;
  }
  figcaption{
    display: none;
  }

  h1{
    text-align: center;
    font-size: 4rem;
    margin: 1rem;

    color: #614c7d;
  }

  nav{
    background: rgb(255,197,161);
  background: -moz-linear-gradient(90deg, rgba(255,197,161,1) 0%, rgba(222,148,197,1) 50%, rgba(164,211,235,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,197,161,1) 0%, rgba(222,148,197,1) 50%, rgba(164,211,235,1) 100%);
  background: linear-gradient(90deg, rgba(255,197,161,1) 0%, rgba(222,148,197,1) 50%, rgba(164,211,235,1) 100%);
  }

  nav ul {
    display: flex;
    justify-content: space-around;

  }
  nav li{
    padding: 1rem;
    list-style: none;
  }
  nav a {
    padding: 1rem;

    color: white;
    text-decoration: none;
  }
/*End of navigation*/
