*{
  margin: 0px;
  padding: 0px;
}


/*Start of navigation*/
  #logo-fig{
    width: 128px;
    margin: auto;
  }
  #logo-img{
    width: 100%;
  }
  figcaption{
    display: none;
  }

  h1{
    text-align: center;
    font-size: 4rem;
    font-family: monospace;
    text-transform: uppercase;
    margin: 1rem;

    color: #614c7d;
  }

  nav{
    background: rgb(247,198,181);
    background: -moz-linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
    background: linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
  }

  nav ul {
    display: flex;
    justify-content: space-around;

  }
  nav li{
    padding: 1rem;
    list-style: none;
  }
  nav a {
    padding: 1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px 4px #6B6B6B;
    text-decoration: none;
  }
/*End of navigation*/

/*Start of Body*/

  /*Start of First Article*/
  h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;

    color: #614c7d;
  }
  .first-article p{
    margin: 1rem 2rem;
  }

  #top-img-container{
    display: flex;
    justify-content: space-around;

    margin: 2rem;
  }

  #top-img-container figure{
    width: 30%;
  }
  #bouquet-fig{
    background-color: #e2a5cd;
  }
  #arrangement-fig{
    background-color: #acd5eb;
  }
  #specialty-fig{
    background-color: #f7c6b5;
  }

  .top-imgs{
    display: block;
    width: 75%;
    margin: 2rem auto .5rem auto;
  }
  #top-img-container figcaption{
    display: block;

    color: white;
    text-shadow: 1px 1px 4px #6B6B6B;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;

    margin: 0px 1rem 1rem 1rem;
  }
  /*End of First Article*/

  /*Start of Second Article Form*/

  #second-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  form{
    background-color: #614c7d;
    padding: 2rem;

    font-family: sans-serif;
  }

  fieldset{
    border-style: none;
    margin: 1.5rem 0px;
  }
  legend{
    color: #e8e8e8;
    margin-bottom: .5rem;
  }
  #main_legend{
    text-align: center;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  label{
    color: #e8e8e8;
  }

  input{
    margin-top: .2rem;
  }
  #text-entry input{
    width: 90%;
    height: 1.75rem;
    margin: .3rem;
  }

  textarea{
    margin: .2rem;
    width: 90%;
  }
  #submit{
    font-size: 1.5rem;
    color:  #614c7d;
    border-radius: 5px;
    background-color: white;
    padding: .8rem 2rem;
  }

  /*End of Second Article Form*/

  /*Start of Aside*/

  aside{
    border-style: solid;
    border-width: thick;
    border-color: #f7c6b5;
  }

  #aside-img-fig{
    margin: 16px;
  }

  #aside-img{
    width: 100%;
  }

  /*End of Aside*/

  /*Start of Footer*/
  footer{
    width: 100%;

    background: rgb(247,198,181);
    background: -moz-linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
    background: linear-gradient(90deg, rgba(247,198,181,1) 0%, rgba(226,165,205,1) 51%, rgba(172,213,235,1) 100%);
  }
  footer>ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    margin-top: 12px;
  }
  footer>ul>li{
    font-size: 1.3rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px #6B6B6B;

    margin: 2.4rem 4rem;
  }
  /*End of Footer*/

/*End of Body*/
